/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(https://i.postimg.cc/fbwPYhYj/tb-bg.png);
    background-size:cover;
}

.style{
    opacity: 0;
}